
    span.wp_cp_text{color: black; font-size: 1.2em; font-weight: bold; display: inline;}
    span.wp_cp_textarea{color: black; font-size: 1.2em; font-weight: bold; display: block;}
    span.wp_cp_select{color: black; font-size: 1.2em; font-weight: bold; display: inline;}
    span.wp_cp_checkbox{color: black; font-size: 1.2em; font-weight: bold; display: inline;}
    span.wp_cp_picture{color: black; font-size: 1.2em; font-weight: bold; display: block;}
    